p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
}

.container {
  display: flex;
  justify-content: center;
}

p strong {
    color: #df3bc3;

}

h3 {
  color: #df3bc3 ;
}

body {
  background-color: rgb(253, 224, 252);
}

img{
border-radius: 10px;

}

img{
  display: block;
  margin: 1 auto;
} 
